@import "compass";
$red: #D95C5C;
*{ box-sizing: border-box;}

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: #4db9e9;
}

h1 {
	font-size: 4em;
	text-align: center;
	margin: 0;
	padding: 0;
}
.container {
	background: white;
	width: 50em;
	margin: 0 auto;
	@include background(linear-gradient(-45deg, 
		white 0%, white 5%, 
		$red 5%, $red 10%, 
		white 10%, white 15%, 
		$red 15%, $red 20%, 
		white 20%, white 25%, 
		$red 25%, $red 30%, 
		white 30%, white 35%, 
		$red 35%, $red 40%, 
		white 40%, white 45%, 
		$red 45%, $red 50%, 
		white 50%, white 55%, 
		$red 55%, $red 60%, 
		white 60%, white 65%, 
		$red 65%, $red 70%, 
		white 70%, white 75%, 
		$red 75%, $red 80%, 
		white 80%, white 85%, 
		$red 85%, $red 90%, 
		white 90%, white 95%,
		$red 95%, $red
		));
	padding: 1em;
	background-size: 24em 24em;
	border-radius: 10px;
}
main {
	background: #ececec;
	padding: 1em;
	border-radius: 10px;
}
form {
	text-align: center;
}
label {
	width: 10em;
	display: inline-block;
	text-align: left;
}
label:hover {
	cursor: pointer;
}
input {
	font-size: 1.5em;
	text-align: center;
	width: 10em;
	padding: .5em;
	margin: 0 auto;
	border-radius: 2px;
	border: none; 
	font-family: "Raleway", Arial, sans-serif;
}
.success {
	color: white;
	background: rgba(48,255,85,.5);
	width: 50%;
	text-align: center;
	border-radius: 4px;
	margin: 2em auto;
}
.itemerror{
	color: $red;
	text-transform: uppercase;
}
form div {
	position: relative;
	margin-bottom: 1em;
}
form div label.error {
	color: $red;
	position: absolute;
	top: 17px;
	right: -5px;
}
.question {
	text-align: center;
	font-size: 2em;
}
.subbox {
	text-align: center;
	padding: 1em;
}
#submit, #add, .delete {
	-webkit-appearance: none;
	text-decoration: none;
	font-size: 1.5em;
	background: #D95C5C;
	padding: .5em 1em;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	text-shadow: 0 -1px 0 #666;
}
#submit:hover, #add:hover, .delete:hover{
	background:rgba(217,92,92,.75);
	transition: background .3s ease;
	cursor: pointer;
}
#botcheck input, #botcheck label {
	width: auto;
	padding:1em;
}
.subbtn {
	text-align: center;
	margin-top: 1em;
}
#newItem, [name="items"] {
	display: inline;
	margin: .5em 0;
	margin-right: 1em;
}
input[readonly] {
	background: none;
	font-size: 1em;
	width: 75%;
	margin-bottom: 1em; 
	text-align: left;
}
#iteminput, #list {
	text-align: center;
}
footer {
	text-align: center;
	color: white;
	text-shadow: 0 1px 0 #666;
	font-size: 1.2em;

	 a {
	color: #D95C5C;
	text-decoration: none;
		&:hover {
			border-bottom: 1px solid #D95C5C;
			box-shadow: 0 1px 0 #666;
		}
	}
}
#flake {
	text-shadow: 1px 1px 0 #000;
}
@media (max-width: 52em) {
	.container {
		width: 95%;
	}
	form div label {
		text-align: center;
		width: auto;
	}
	form div label.error {
		position: inherit;
		display: block;
		top: 0;
		right: 0;
	}
	form div input {
		display: block;
		width: 80%;
	}
	input[readonly] {
	/*	width: 10em;*/
	}
	#newitem {
		width: 10em;
	}
	#botcheck *{
		display: inline;
	}
	.success {
		width: 75%;
	}
}
@media (max-width: 34em) {
	main {
		padding: 5px;
	}

	#iteminput {
		width: 95%;
		margin: 0 auto;
	}
	#newitem{
		width: 75%;
		margin-right: 0;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	#add {
		width: 20%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		display: inline-block;
		text-align: center;
		padding-left: 1%;
		padding-right: 1%;
		font-size: 1.25em;
		padding-top: .8em;
		padding-bottom: .65em;
	}
	#list {
		width: 95%;
		margin: 0 auto;
	}
	input[name=items] {
		font-size: 1em;
		margin: 0;
		width: 75%;
		text-align: left;
		padding-left:0;
		padding-right: 0;
		}
	.delete {
		font-size: 1.2em;
		padding:.25em;
		display: inline-block;
		width: 20%;
	}
}
